* {
  text-decoration: none;
  color: rgb(0, 0, 0);
  list-style-type: none;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  list-style-type: none;
}

.color_icon {
  color: #2196f3;
}
.nav_bar_item_icon {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 0.838;
  letter-spacing: 0.03em;
  color: white;
}
.nav_bar_item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.875;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav_bar_item:hover,
.nav_bar_item:focus {
  color: #2196f3;
}
.href_nav {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  letter-spacing: 0.03em;
  color: #757575;
}
.maps_href {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  letter-spacing: 0.03em;

  color: #ffffff;
}
.navigate_page_portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.615;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.portfolio_url_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 0.533;
  margin-left: 24px;
  letter-spacing: 0.03em;

  color: #757575;
}
.portfolio_url_head {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 0.5;
  margin-left: 24px;
  letter-spacing: 0.06em;

  color: #212121;
}
.accent {
  color: #2196f3;
}
.nav_tel_mail {
  color: #757575;
}

.footer {
  background: #2f303a;
  height: 252px;
}
.href_nav_color {
  color: rgba(255, 255, 255, 0.6);
}
.maps_href_color {
  color: #ffffff;
}
.header {
  min-height: 70px;
  border-bottom: 1px solid #ececec;
}

.nav_bar_flex {
  display: flex;
}
.nav_bar {
  display: flex;
  align-items: center;
}
.nav_bar_item_icon {
  margin: 24px 93px 25px 215px;
}
.menu .nav_bar li {
  display: flex;
  margin-right: 50px;
}
.nav_bar {
  padding: 0;
  margin: 24px 0 25px 0;
  height: 20px;
}
.menu_mail .a {
  margin-left: 1000px;
}
.nav_bar_flex {
  display: flex;
  align-items: center;
  min-height: 70px;
}
.menu_mail {
  margin-left: auto;
}
.menu_tel {
  margin-right: 215px;
  margin-left: 50px;
}

.nav_bar_item_footer {
  margin: 0;
  padding: 0;

  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.nav_bar_item_icon_footer {
  padding-top: 60px;
  margin-left: 215px;
  margin-bottom: 20px;
}
.href_nav {
  margin-left: 215px;
  margin-top: 9px;
}
.href_nav_footer {
  margin: 0;
  padding: 0;
}
.navigate_page {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-top: 94px;
}

.portfolio_url {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.portfolio_url_flex {
  margin: 50px 30px 30px 0px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.nav_contact {
  display: flex;
  padding: 0;
  margin-left: auto;
}

.portfolio_url_text_color {
  color: #757575;
}
.portfolio_url {
  margin-left: auto;
  margin-right: auto;
  width: 1206px;
  padding-left: 15px;
  padding-right: 15px;
}
.nav_bar {
  margin-left: 130px;
}
.nav_contact {
  margin-right: 150px;
}
button {
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px 4px 4px 4px;
  border: 0px;
  padding: 6px 22px 6px 22px;
  margin-right: 8px;
}
button:hover,
button:focus {
  color: #ffffff;
  background-color: #2196f3;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
